<?xml version="1.0" encoding="GBK"?><XmlTable>
  <columns>
    <XmlTableColumn>
      <pageId></pageId>
      <gridId></gridId>
      <columnId>TABLE.ROWNUM</columnId>
      <ordIndex>0</ordIndex>
      <caption>行次</caption>
      <width>50</width>
      <isVisible>true</isVisible>
      <align>C</align>
      <dataType>NUM</dataType>
      <valsetId></valsetId>
      <rowIndex>0</rowIndex>
      <colIndex>0</colIndex>
      <fieldWidth>0</fieldWidth>
      <fieldHeight>0</fieldHeight>
      <isReadOnly>false</isReadOnly>
      <isNull>true</isNull>
      <isAllowInput>false</isAllowInput>
      <minValue>4.9E-324</minValue>
      <maxValue>1.7976931348623157E308</maxValue>
      <minLen>0</minLen>
      <maxLen>0</maxLen>
      <decLen>0</decLen>
      <isInEditor>true</isInEditor>
      <editorType>EDITOR_TYPE_TEXTFIELD</editorType>
      <isSave>false</isSave>
      <isPk>false</isPk>
      <isInTable>true</isInTable>
      <defaultValue></defaultValue>
      <isAutoNum>false</isAutoNum>
      <isForceReadOnly>true</isForceReadOnly>
      <remark></remark>
      <columnPosition></columnPosition>
      <isWatchOnly>false</isWatchOnly>
      <isShowZero>false</isShowZero>
      <isPrint>true</isPrint>
      <isThousandsSeparator>true</isThousandsSeparator>
      <groupId></groupId>
      <dataMap>
        <entry>
          <string>IS_THOUSANDS_SEPARATOR</string>
          <string></string>
        </entry>
        <entry>
          <string>VALSET_ID</string>
          <string></string>
        </entry>
        <entry>
          <string>GROUP_ID</string>
          <string></string>
        </entry>
        <entry>
          <string>IS_FORCE_READONLY</string>
          <string>Y</string>
        </entry>
        <entry>
          <string>CAPTION</string>
          <string>行次</string>
        </entry>
        <entry>
          <string>ALIGN</string>
          <string>C</string>
        </entry>
        <entry>
          <string>DEC_LEN</string>
          <string></string>
        </entry>
        <entry>
          <string>COLUMN_ID</string>
          <string>TABLE.ROWNUM</string>
        </entry>
        <entry>
          <string>DATA_TYPE</string>
          <string>NUM</string>
        </entry>
        <entry>
          <string>WIDTH</string>
          <string>50</string>
        </entry>
      </dataMap>
    </XmlTableColumn>
    <XmlTableColumn>
      <pageId></pageId>
      <gridId></gridId>
      <columnId>序号</columnId>
      <ordIndex>0</ordIndex>
      <caption>序号</caption>
      <width>100</width>
      <isVisible>true</isVisible>
      <align>C</align>
      <dataType>TEXT</dataType>
      <valsetId></valsetId>
      <rowIndex>0</rowIndex>
      <colIndex>0</colIndex>
      <fieldWidth>0</fieldWidth>
      <fieldHeight>0</fieldHeight>
      <isReadOnly>false</isReadOnly>
      <isNull>true</isNull>
      <isAllowInput>false</isAllowInput>
      <minValue>4.9E-324</minValue>
      <maxValue>1.7976931348623157E308</maxValue>
      <minLen>0</minLen>
      <maxLen>0</maxLen>
      <decLen>0</decLen>
      <isInEditor>true</isInEditor>
      <editorType>EDITOR_TYPE_TEXTFIELD</editorType>
      <isSave>false</isSave>
      <isPk>false</isPk>
      <isInTable>true</isInTable>
      <defaultValue></defaultValue>
      <isAutoNum>false</isAutoNum>
      <isForceReadOnly>false</isForceReadOnly>
      <remark></remark>
      <columnPosition></columnPosition>
      <isWatchOnly>false</isWatchOnly>
      <isShowZero>false</isShowZero>
      <isPrint>true</isPrint>
      <isThousandsSeparator>false</isThousandsSeparator>
      <groupId></groupId>
      <dataMap>
        <entry>
          <string>IS_THOUSANDS_SEPARATOR</string>
          <string>N</string>
        </entry>
        <entry>
          <string>IS_FORCE_READONLY</string>
          <string>N</string>
        </entry>
        <entry>
          <string>ALIGN</string>
          <string>C</string>
        </entry>
        <entry>
          <string>CAPTION</string>
          <string>序号</string>
        </entry>
        <entry>
          <string>DEC_LEN</string>
          <string>0</string>
        </entry>
        <entry>
          <string>TABLE.ROWNUM</string>
          <string></string>
        </entry>
        <entry>
          <string>DATA_TYPE</string>
          <string>TEXT</string>
        </entry>
        <entry>
          <string>COLUMN_ID</string>
          <string>序号</string>
        </entry>
        <entry>
          <string>COLUMN_TYPE</string>
          <string>COMMON</string>
        </entry>
        <entry>
          <string>WIDTH</string>
          <string>100</string>
        </entry>
      </dataMap>
    </XmlTableColumn>
    <XmlTableColumn>
      <pageId></pageId>
      <gridId></gridId>
      <columnId>包号及内容</columnId>
      <ordIndex>0</ordIndex>
      <caption>包号及内容</caption>
      <width>100</width>
      <isVisible>true</isVisible>
      <align>C</align>
      <dataType>TEXT</dataType>
      <valsetId></valsetId>
      <rowIndex>0</rowIndex>
      <colIndex>0</colIndex>
      <fieldWidth>0</fieldWidth>
      <fieldHeight>0</fieldHeight>
      <isReadOnly>false</isReadOnly>
      <isNull>true</isNull>
      <isAllowInput>false</isAllowInput>
      <minValue>4.9E-324</minValue>
      <maxValue>1.7976931348623157E308</maxValue>
      <minLen>0</minLen>
      <maxLen>0</maxLen>
      <decLen>0</decLen>
      <isInEditor>true</isInEditor>
      <editorType>EDITOR_TYPE_TEXTFIELD</editorType>
      <isSave>false</isSave>
      <isPk>false</isPk>
      <isInTable>true</isInTable>
      <defaultValue></defaultValue>
      <isAutoNum>false</isAutoNum>
      <isForceReadOnly>false</isForceReadOnly>
      <remark></remark>
      <columnPosition></columnPosition>
      <isWatchOnly>false</isWatchOnly>
      <isShowZero>false</isShowZero>
      <isPrint>true</isPrint>
      <isThousandsSeparator>false</isThousandsSeparator>
      <groupId></groupId>
      <dataMap>
        <entry>
          <string>IS_THOUSANDS_SEPARATOR</string>
          <string>N</string>
        </entry>
        <entry>
          <string>IS_FORCE_READONLY</string>
          <string>N</string>
        </entry>
        <entry>
          <string>ALIGN</string>
          <string>C</string>
        </entry>
        <entry>
          <string>CAPTION</string>
          <string>包号及内容</string>
        </entry>
        <entry>
          <string>DEC_LEN</string>
          <string>0</string>
        </entry>
        <entry>
          <string>TABLE.ROWNUM</string>
          <string></string>
        </entry>
        <entry>
          <string>DATA_TYPE</string>
          <string>TEXT</string>
        </entry>
        <entry>
          <string>COLUMN_ID</string>
          <string>包号及内容</string>
        </entry>
        <entry>
          <string>COLUMN_TYPE</string>
          <string>COMMON</string>
        </entry>
        <entry>
          <string>WIDTH</string>
          <string>100</string>
        </entry>
      </dataMap>
    </XmlTableColumn>
    <XmlTableColumn>
      <pageId></pageId>
      <gridId></gridId>
      <columnId>保证金</columnId>
      <ordIndex>0</ordIndex>
      <caption>保证金</caption>
      <width>100</width>
      <isVisible>true</isVisible>
      <align>C</align>
      <dataType>TEXT</dataType>
      <valsetId></valsetId>
      <rowIndex>0</rowIndex>
      <colIndex>0</colIndex>
      <fieldWidth>0</fieldWidth>
      <fieldHeight>0</fieldHeight>
      <isReadOnly>false</isReadOnly>
      <isNull>true</isNull>
      <isAllowInput>false</isAllowInput>
      <minValue>4.9E-324</minValue>
      <maxValue>1.7976931348623157E308</maxValue>
      <minLen>0</minLen>
      <maxLen>0</maxLen>
      <decLen>0</decLen>
      <isInEditor>true</isInEditor>
      <editorType>EDITOR_TYPE_TEXTFIELD</editorType>
      <isSave>false</isSave>
      <isPk>false</isPk>
      <isInTable>true</isInTable>
      <defaultValue></defaultValue>
      <isAutoNum>false</isAutoNum>
      <isForceReadOnly>false</isForceReadOnly>
      <remark></remark>
      <columnPosition></columnPosition>
      <isWatchOnly>false</isWatchOnly>
      <isShowZero>false</isShowZero>
      <isPrint>true</isPrint>
      <isThousandsSeparator>false</isThousandsSeparator>
      <groupId></groupId>
      <dataMap>
        <entry>
          <string>IS_THOUSANDS_SEPARATOR</string>
          <string>N</string>
        </entry>
        <entry>
          <string>IS_FORCE_READONLY</string>
          <string>N</string>
        </entry>
        <entry>
          <string>ALIGN</string>
          <string>C</string>
        </entry>
        <entry>
          <string>CAPTION</string>
          <string>保证金</string>
        </entry>
        <entry>
          <string>DEC_LEN</string>
          <string>0</string>
        </entry>
        <entry>
          <string>TABLE.ROWNUM</string>
          <string></string>
        </entry>
        <entry>
          <string>DATA_TYPE</string>
          <string>TEXT</string>
        </entry>
        <entry>
          <string>COLUMN_ID</string>
          <string>保证金</string>
        </entry>
        <entry>
          <string>COLUMN_TYPE</string>
          <string>COMMON</string>
        </entry>
        <entry>
          <string>WIDTH</string>
          <string>100</string>
        </entry>
      </dataMap>
    </XmlTableColumn>
    <XmlTableColumn>
      <pageId></pageId>
      <gridId></gridId>
      <columnId>报价（元）</columnId>
      <ordIndex>0</ordIndex>
      <caption>报价（元）</caption>
      <width>100</width>
      <isVisible>true</isVisible>
      <align>C</align>
      <dataType>NUM</dataType>
      <valsetId></valsetId>
      <rowIndex>0</rowIndex>
      <colIndex>0</colIndex>
      <fieldWidth>0</fieldWidth>
      <fieldHeight>0</fieldHeight>
      <isReadOnly>false</isReadOnly>
      <isNull>true</isNull>
      <isAllowInput>false</isAllowInput>
      <minValue>4.9E-324</minValue>
      <maxValue>1.7976931348623157E308</maxValue>
      <minLen>0</minLen>
      <maxLen>0</maxLen>
      <decLen>2</decLen>
      <isInEditor>true</isInEditor>
      <editorType>EDITOR_TYPE_TEXTFIELD</editorType>
      <isSave>false</isSave>
      <isPk>false</isPk>
      <isInTable>true</isInTable>
      <defaultValue></defaultValue>
      <isAutoNum>false</isAutoNum>
      <isForceReadOnly>false</isForceReadOnly>
      <remark></remark>
      <columnPosition></columnPosition>
      <isWatchOnly>false</isWatchOnly>
      <isShowZero>false</isShowZero>
      <isPrint>true</isPrint>
      <isThousandsSeparator>true</isThousandsSeparator>
      <groupId></groupId>
      <dataMap>
        <entry>
          <string>IS_THOUSANDS_SEPARATOR</string>
          <string>Y</string>
        </entry>
        <entry>
          <string>IS_FORCE_READONLY</string>
          <string>N</string>
        </entry>
        <entry>
          <string>ALIGN</string>
          <string>C</string>
        </entry>
        <entry>
          <string>CAPTION</string>
          <string>报价（元）</string>
        </entry>
        <entry>
          <string>DEC_LEN</string>
          <string>2</string>
        </entry>
        <entry>
          <string>TABLE.ROWNUM</string>
          <string></string>
        </entry>
        <entry>
          <string>DATA_TYPE</string>
          <string>NUM</string>
        </entry>
        <entry>
          <string>COLUMN_ID</string>
          <string>报价（元）</string>
        </entry>
        <entry>
          <string>COLUMN_TYPE</string>
          <string>TOTAL</string>
        </entry>
        <entry>
          <string>WIDTH</string>
          <string>100</string>
        </entry>
      </dataMap>
    </XmlTableColumn>
    <XmlTableColumn>
      <pageId></pageId>
      <gridId></gridId>
      <columnId>工期或交货期（日历日）</columnId>
      <ordIndex>0</ordIndex>
      <caption>工期或交货期（日历日）</caption>
      <width>140</width>
      <isVisible>true</isVisible>
      <align>C</align>
      <dataType>TEXT</dataType>
      <valsetId></valsetId>
      <rowIndex>0</rowIndex>
      <colIndex>0</colIndex>
      <fieldWidth>0</fieldWidth>
      <fieldHeight>0</fieldHeight>
      <isReadOnly>false</isReadOnly>
      <isNull>true</isNull>
      <isAllowInput>false</isAllowInput>
      <minValue>4.9E-324</minValue>
      <maxValue>1.7976931348623157E308</maxValue>
      <minLen>0</minLen>
      <maxLen>0</maxLen>
      <decLen>0</decLen>
      <isInEditor>true</isInEditor>
      <editorType>EDITOR_TYPE_TEXTFIELD</editorType>
      <isSave>false</isSave>
      <isPk>false</isPk>
      <isInTable>true</isInTable>
      <defaultValue></defaultValue>
      <isAutoNum>false</isAutoNum>
      <isForceReadOnly>false</isForceReadOnly>
      <remark></remark>
      <columnPosition></columnPosition>
      <isWatchOnly>false</isWatchOnly>
      <isShowZero>false</isShowZero>
      <isPrint>true</isPrint>
      <isThousandsSeparator>false</isThousandsSeparator>
      <groupId></groupId>
      <dataMap>
        <entry>
          <string>IS_THOUSANDS_SEPARATOR</string>
          <string>N</string>
        </entry>
        <entry>
          <string>IS_FORCE_READONLY</string>
          <string>N</string>
        </entry>
        <entry>
          <string>ALIGN</string>
          <string>C</string>
        </entry>
        <entry>
          <string>CAPTION</string>
          <string>工期或交货期（日历日）</string>
        </entry>
        <entry>
          <string>DEC_LEN</string>
          <string>0</string>
        </entry>
        <entry>
          <string>TABLE.ROWNUM</string>
          <string></string>
        </entry>
        <entry>
          <string>DATA_TYPE</string>
          <string>TEXT</string>
        </entry>
        <entry>
          <string>COLUMN_ID</string>
          <string>工期或交货期（日历日）</string>
        </entry>
        <entry>
          <string>COLUMN_TYPE</string>
          <string>WORK_DATE</string>
        </entry>
        <entry>
          <string>WIDTH</string>
          <string>140</string>
        </entry>
      </dataMap>
    </XmlTableColumn>
    <XmlTableColumn>
      <pageId></pageId>
      <gridId></gridId>
      <columnId>备注</columnId>
      <ordIndex>0</ordIndex>
      <caption>备注</caption>
      <width>100</width>
      <isVisible>true</isVisible>
      <align>C</align>
      <dataType>TEXT</dataType>
      <valsetId></valsetId>
      <rowIndex>0</rowIndex>
      <colIndex>0</colIndex>
      <fieldWidth>0</fieldWidth>
      <fieldHeight>0</fieldHeight>
      <isReadOnly>false</isReadOnly>
      <isNull>true</isNull>
      <isAllowInput>false</isAllowInput>
      <minValue>4.9E-324</minValue>
      <maxValue>1.7976931348623157E308</maxValue>
      <minLen>0</minLen>
      <maxLen>0</maxLen>
      <decLen>0</decLen>
      <isInEditor>true</isInEditor>
      <editorType>EDITOR_TYPE_TEXTFIELD</editorType>
      <isSave>false</isSave>
      <isPk>false</isPk>
      <isInTable>true</isInTable>
      <defaultValue></defaultValue>
      <isAutoNum>false</isAutoNum>
      <isForceReadOnly>false</isForceReadOnly>
      <remark></remark>
      <columnPosition></columnPosition>
      <isWatchOnly>false</isWatchOnly>
      <isShowZero>false</isShowZero>
      <isPrint>true</isPrint>
      <isThousandsSeparator>false</isThousandsSeparator>
      <groupId></groupId>
      <dataMap>
        <entry>
          <string>IS_THOUSANDS_SEPARATOR</string>
          <string>N</string>
        </entry>
        <entry>
          <string>IS_FORCE_READONLY</string>
          <string>N</string>
        </entry>
        <entry>
          <string>ALIGN</string>
          <string>C</string>
        </entry>
        <entry>
          <string>CAPTION</string>
          <string>备注</string>
        </entry>
        <entry>
          <string>DEC_LEN</string>
          <string>0</string>
        </entry>
        <entry>
          <string>TABLE.ROWNUM</string>
          <string></string>
        </entry>
        <entry>
          <string>DATA_TYPE</string>
          <string>TEXT</string>
        </entry>
        <entry>
          <string>COLUMN_ID</string>
          <string>备注</string>
        </entry>
        <entry>
          <string>COLUMN_TYPE</string>
          <string>COMMON</string>
        </entry>
        <entry>
          <string>WIDTH</string>
          <string>100</string>
        </entry>
      </dataMap>
    </XmlTableColumn>
  </columns>
  <rows>
    <XmlTableRow>
      <cells>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
      </cells>
    </XmlTableRow>
    <XmlTableRow>
      <cells>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
      </cells>
    </XmlTableRow>
    <XmlTableRow>
      <cells>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
      </cells>
    </XmlTableRow>
    <XmlTableRow>
      <cells>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
      </cells>
    </XmlTableRow>
    <XmlTableRow>
      <cells>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
        <XmlTableCell>
          <value></value>
        </XmlTableCell>
      </cells>
    </XmlTableRow>
  </rows>
  <remark></remark>
</XmlTable>