<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap 
    PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" 
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="com.ufgov.zc.server.zc.dao.ZcGoodsMapper" >
	<typeAlias alias="elementCondition"	type="com.ufgov.zc.common.system.dto.ElementConditionDto" />
  <resultMap id="BaseResultMap" class="com.ufgov.zc.common.zc.model.ZcGoods" >
    <result column="GOODS_CODE" property="goodsCode" jdbcType="VARCHAR" />
    <result column="BRAND_CODE" property="brandCode" jdbcType="VARCHAR" />
    <result column="GOODS_NAME" property="goodsName" jdbcType="VARCHAR" />
    <result column="IS_ENABLE" property="isEnable" jdbcType="CHAR" />
    <result column="PRICE_MAKET" property="priceMaket" jdbcType="DECIMAL" />
    <result column="PRICE_XY" property="priceXy" jdbcType="DECIMAL" />
    <result column="SPEC1" property="spec1" jdbcType="VARCHAR" />
    <result column="SPEC2" property="spec2" jdbcType="VARCHAR" />
    <result column="SPEC3" property="spec3" jdbcType="VARCHAR" />
    <result column="SPEC4" property="spec4" jdbcType="VARCHAR" />
    <result column="SPEC5" property="spec5" jdbcType="VARCHAR" />
    <result column="SPEC6" property="spec6" jdbcType="VARCHAR" />
    <result column="SPEC7" property="spec7" jdbcType="VARCHAR" />
    <result column="SPEC8" property="spec8" jdbcType="VARCHAR" />
    <result column="SPEC9" property="spec9" jdbcType="VARCHAR" />
    <result column="GOODS_CATALOG_CODE" property="goodsCatalogCode" jdbcType="VARCHAR" />
    <result column="THUMBNAIL_ID" property="thumbnailId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jan 19 21:34:00 CST 2016.
    -->
    GOODS_CODE, BRAND_CODE, GOODS_NAME, IS_ENABLE, PRICE_MAKET, PRICE_XY, SPEC1, SPEC2, 
    SPEC3, SPEC4, SPEC5, SPEC6, SPEC7, SPEC8, SPEC9, GOODS_CATALOG_CODE, THUMBNAIL_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterClass="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jan 19 21:34:00 CST 2016.
    -->
    select 
    <include refid="Base_Column_List" />
    from ZC_GOODS
    where GOODS_CODE = #goodsCode:VARCHAR#
  </select>
  <select id="selectMainDataLst" resultMap="BaseResultMap" parameterClass="elementCondition" > 
    select 
    <include refid="Base_Column_List" />
    from ZC_GOODS    
	<dynamic prepend="WHERE">  
	  <isNotEmpty prepend="AND" property="status"> 
			<isEqual property="status" compareValue="enable">
	    		IS_ENABLE = 'Y'
	    	</isEqual>  
			<isEqual property="status" compareValue="disable">
	    		IS_ENABLE = 'N'
	    	</isEqual>  
			<isEqual property="status" compareValue="all">
	    		1=1 
	    	</isEqual>    
	  </isNotEmpty>
	</dynamic>  
  </select>
  <delete id="deleteByPrimaryKey" parameterClass="java.lang.String" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jan 19 21:34:00 CST 2016.
    -->
    delete from ZC_GOODS
    where GOODS_CODE = #goodsCode:VARCHAR#
  </delete>
  <insert id="insert" parameterClass="com.ufgov.zc.common.zc.model.ZcGoods" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jan 19 21:34:00 CST 2016.
    -->
    insert into ZC_GOODS (GOODS_CODE, BRAND_CODE, GOODS_NAME, 
      IS_ENABLE, PRICE_MAKET, PRICE_XY, 
      SPEC1, SPEC2, SPEC3, 
      SPEC4, SPEC5, SPEC6, 
      SPEC7, SPEC8, SPEC9, 
      GOODS_CATALOG_CODE, THUMBNAIL_ID)
    values (#goodsCode:VARCHAR#, #brandCode:VARCHAR#, #goodsName:VARCHAR#, 
      #isEnable:CHAR#, #priceMaket:DECIMAL#, #priceXy:DECIMAL#, 
      #spec1:VARCHAR#, #spec2:VARCHAR#, #spec3:VARCHAR#, 
      #spec4:VARCHAR#, #spec5:VARCHAR#, #spec6:VARCHAR#, 
      #spec7:VARCHAR#, #spec8:VARCHAR#, #spec9:VARCHAR#, 
      #goodsCatalogCode:VARCHAR#, #thumbnailId:VARCHAR#)
  </insert>
  
  <update id="updateByPrimaryKey" parameterClass="com.ufgov.zc.common.zc.model.ZcGoods" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jan 19 21:34:00 CST 2016.
    -->
    update ZC_GOODS
    set BRAND_CODE = #brandCode:VARCHAR#,
      GOODS_NAME = #goodsName:VARCHAR#,
      IS_ENABLE = #isEnable:CHAR#,
      PRICE_MAKET = #priceMaket:DECIMAL#,
      PRICE_XY = #priceXy:DECIMAL#,
      SPEC1 = #spec1:VARCHAR#,
      SPEC2 = #spec2:VARCHAR#,
      SPEC3 = #spec3:VARCHAR#,
      SPEC4 = #spec4:VARCHAR#,
      SPEC5 = #spec5:VARCHAR#,
      SPEC6 = #spec6:VARCHAR#,
      SPEC7 = #spec7:VARCHAR#,
      SPEC8 = #spec8:VARCHAR#,
      SPEC9 = #spec9:VARCHAR#,
      GOODS_CATALOG_CODE = #goodsCatalogCode:VARCHAR#,
      THUMBNAIL_ID = #thumbnailId:VARCHAR#
    where GOODS_CODE = #goodsCode:VARCHAR#
  </update>
</sqlMap>